body{
	border: 2px solid black;
}
.parent{
	display: flex;;
	flex-direction: row;
	
}
.child1 img{
	width: 80%;
	border: 2px solid black;
	border-radius: 50%;

}
.child1{
	width: 30%;
	margin: 1%;
	padding: 1%;
	border: 2px solid #ddd;
	border-radius: 10%;
	font-size: 15px;
}